# Core
# -------------------------------------
django-oscar==1.3
django-oscar-paypal==0.9.7
Django==1.9.11
gunicorn==19.6.0

# Payments
# -------------------------------------
dj-stripe==0.8.0

# Audio Conversion
# -------------------------------------
pydub==0.16.6

# Extensions
# -------------------------------------
django-extensions==1.7.4
django-uuid-upload-path==1.0.0
pytz==2016.7
ipython==5.1.0
pycountry==1.20
Werkzeug==0.11.11

# Configuration
# -------------------------------------
django-environ==0.4.0
python-dotenv==0.6.0

# Images
# -------------------------------------
Pillow==3.4.2

# Staticfiles
# -------------------------------------
dj-static==0.0.6
django-compressor==2.1

# Persistence
# -------------------------------------
dj-database-url==0.4.1
psycopg2==2.6.2

# Solr Search
# -------------------------------------
pysolr==3.6.0

# Process
# -------------------------------------
honcho==0.7.1

# Sentry
# -------------------------------------
raven==5.31.0
