# Core
# -------------------------------------
# django-oscar==1.5
# There's an incompatability, we will have to use dev (1.5 for now off master)
git+git://github.com/django-oscar/django-oscar.git@master
Django==1.10.7
gunicorn==19.7.1

# Payments
# -------------------------------------
dj-stripe==0.8.0

# Audio Conversion
# -------------------------------------
pydub==0.20.0

# Extensions
# -------------------------------------
django-extensions==1.7.8
django-uuid-upload-path==1.0.0
pytz==2017.2
ipython==6.1.0
pycountry==17.5.14
Werkzeug==0.12.2

# Configuration
# -------------------------------------
django-environ==0.4.3
python-dotenv==0.6.4

# Images
# -------------------------------------
Pillow==4.2.1

# Staticfiles
# -------------------------------------
dj-static==0.0.6
django-compressor==2.1.1

# Persistence
# -------------------------------------
dj-database-url==0.4.2
psycopg2==2.7.3

# Solr Search
# -------------------------------------
pysolr==3.6.0

# Process
# -------------------------------------
honcho==1.0.1

# Sentry
# -------------------------------------
raven==6.1.0
