.site-brand-name-link {
    text-decoration: none;

    &:visited {
        text-decoration: none;
    }

    &:hover {
        text-decoration: none;
        color: lighten(#333, 15%);
        -webkit-transition: border 200ms color 200ms, -webkit-transform 200ms;
        transition: border 200ms color 200ms, transform 200ms;
    }

    &:active {
        text-decoration: none;
        color: darken(#333, 15%);
        -webkit-transition: border 200ms color 200ms, -webkit-transform 200ms;
        transition: border 200ms color 200ms, transform 200ms;
    }
}

#top_page {
    background-color: #f5f5f5;
    margin-bottom: 0px;

    @media (min-width: 1201px) {
        padding: 30px;
    }
    #login_link {
        padding: 10px;
    }

    .nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
        background: @brand-primary;
    }

    .nav-link-container {
        padding: 0px 5px;
    }

    .basket-link-container {
        padding: 0px 10px 0px 5px;
    }

    .navbar-right {
        padding: 18px 12px;

        @media (min-width: 768px) {
            padding: 18px 12px;
        }
    }

    .nav-link-custom {
        padding: 10px !important;
    }

    .account-dropdown {
        a {
            color: #333;
            font-size: inherit;
            font-family: inherit;
            font-weight: 300;
            padding: 10px;
        }
        .dropdown-menu {
            width: 95%;
            margin: 0px 5px 0px 0px;
        }
    }

    .basket-mini {
        margin: 0px;

        .btn-group {
            a {
                padding: 10px !important;
            }

            button {
                padding-top: 10px !important;
                padding-bottom: 10px !important;
            }
        }
    }

    .basket-mini .btn-group {
        margin: 0px !important;
    }

    .container {
        .navbar-collapse {
            .collapsed-menu-group {
                @media (min-width: 768px) {
                    padding: 18px 0px;
                }
            }
        }
    }
}

#product-search-form {
    margin: 0px;
    padding: 0px;
}

@media (max-width: 1201px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }

  .basket-mini {
      display: none !important;
  }
  .btn-cart {
      display: block !important;
  }
}
