#product-search-form {
  margin: 0px;
  padding: 0px;
  width: 300px;

  @media(max-width: 767px) {
    width: 100%;
  }

  // &:hover {
  //   width: 350px;
  //   transition: all .55s ease;
  // }

  .box {
    margin: 0px;
    width: 100%;
  }
  .container-4{
    overflow: hidden;
    vertical-align: middle;
    white-space: nowrap;
    height: 100%;
    width: 100%;
  }

  .container-4 input#id_q{
    background: #fcfcfc;
    border: none;
    font-size: 10pt;
    float: left;
    color: #333;
    padding-left: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 0;
    box-shadow: none;
    padding: 20px;
    width: 100%;
  }

  .container-4 input#id_q::-webkit-input-placeholder {
     color: #65737e;
  }

  .container-4 input#id_q:-moz-placeholder { /* Firefox 18- */
     color: #65737e;
  }

  .container-4 input#id_q::-moz-placeholder {  /* Firefox 19+ */
     color: #65737e;
  }

  .container-4 input#id_q:-ms-input-placeholder {
     color: #65737e;
  }

  .container-4 button.icon{
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    border: none;
    background: none;
    height: 40px;
    width: 40px;
    color: #333;
    opacity: 1;
    margin-left: -40px;
    font-size: 10pt;

    // -webkit-transition: all .55s ease;
    // -moz-transition: all .55s ease;
    // -ms-transition: all .55s ease;
    // -o-transition: all .55s ease;
    // transition: all .55s ease;
  }

  .container-4:hover button.icon, .container-4:active button.icon, .container-4:focus button.icon{
    outline: none;
    opacity: 1;
    // margin-left: 40px;
  }

  .container-4:hover button.icon:hover{
    background: white;
  }
}

.search-outer-container {
  padding: 0px 5px;
}
