{% load i18n %}
{% load product_tags %}

{% block content %}
<section class="well">
    <div class="sub-header">
        <h3>{{ promotion.name }}</h3>
    </div>

    {{ promotion.description|safe }}

    <ul class="row">
        {% for product in products %}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 product-container">
                <li class="panel panel-default">
                    {% render_product product %}
                </li>
            </div>
        {% endfor %}
    </ul>

    {% if block.link_url %}
        <a href="{{ block.link_url }}">{% trans "See more" %}</a>
    {% endif %}
</section>
{% endblock %}
