{% extends 'oscar/checkout/payment_details.html' %}
{% load url from future %}
{% load i18n %}

{% block payment_details %}
    <div class="well">
        <div class="sub-header">
            <h3>{% trans "Enter Credit Card" %}</h3>
        </div>
        <form method="post" action="{% url 'checkout:preview' %}" class="form-stacked">
            {% csrf_token %}
            {% include "partials/form_fields.html" with form=bankcard_form %}
            {% comment %}
                <h4>{% trans "Billing address" %}</h4>
                {% include "partials/form_fields.html" with form=billing_address_form %}
            {% endcomment %}
            <div class="form-actions">
                <button type="submit" class="btn btn-large btn-primary">{% trans "Continue" %}</button>
            </div>
        </form>
    </div>
{% endblock %}